/* Global */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/forest_by_borondrawing_deo7u0j-pre.jpg');
  background-size: cover;
}

/* Title */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 64px;
}

#pokemon-logo {
  width: 25%;
}

/* Board */
.board-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Card */
.card-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

#pokemon-image {
  width: 50%;
}
