/* Global */
* {
  margin: 0;
  padding: 0;
}

/* Board */

.board-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Card */
.card-container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

#pokemon-image {
  width: 50%;
}
