@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Global */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('/forest_by_borondrawing_deo7u0j-pre.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Title */
header {
  margin: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space;
}

.logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.logo h3 {
  color: #ffcb05;
}

#pokemon-logo {
  width: 80%;
}

/* Board */
.board-container {
  margin: 0 25px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Card */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #3575ad;
  margin: 10px;
  background-color: #ffcb05;
}

.pokemon-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  width: 100%;
  background-color: #3575ad;
}

#pokemon-image {
  width: 50%;
}
